<p>edit works!</p>

<div class="row">
  <div class="col-md-4">

    <app-personal-data></app-personal-data>
<!-- <ul class="list-unstyled">
  <li class="list-item">
    <a routerLink="personal">Edit personal Data</a>
  </li>
  <li class="list-item">
    <a routerLink="shared">Edit Shared Data</a>
  </li>
</ul>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div> -->
</div>



<!-- http://localhost:4200/profile/edit/shared -->
<!-- http://localhost:4200/profile/edit/personal -->
